

<body>
  <app-navbar></app-navbar>
<div class="slider owl-carousel">

        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-1.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                 BETRAO
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
           </div>
        </div>
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-2.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                 HENDRICK'S
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>

           </div>
        </div>
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-3.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                BACARDI
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>

           </div>
        </div>
     </div>
<section>

</section>



        <app-footer></app-footer>


</body>
