
<body>
<!-- ---header -->
<section class="header">
    <app-navbar></app-navbar>
    <div class="text-box">
        <h1 class="mb-4"><i>Good <span>Drinks</span> For Good <span>Moments</span></i></h1>
        <div class="buttons">
            <button routerLink="/register">Shop Now</button>
        </div>
    </div>
</section>

<section>
    <div class="h1"><i>Tastefully Yours</i></div>
    <div class="slider owl-carousel">
   
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-1.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                 BETRAO
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
           </div>
        </div>
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-2.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                 HENDRICK'S
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
        
           </div>
        </div>
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-3.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                BACARDI
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
    
           </div>
        </div>
     </div>
</section>
<app-footer></app-footer>
