
<body>
<!-- ---header -->
<section class="header">
    <app-navbar></app-navbar>
    <div class="text-box">
        <h1 class="mb-4"><i>Good <span>Drinks</span> For Good <span>Moments</span></i></h1>
        <div class="buttons">
            <button>Shop Now</button>
        </div>
    </div>
</section>

<section>
    <div class="h1"><i>Tastefully Yours</i></div>
    <div class="slider owl-carousel">
   
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-1.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                 BETRAO
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
           </div>
        </div>
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-2.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                 HENDRICK'S
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
        
           </div>
        </div>
        <div class="card">
           <div class="img">
              <img src="../../assets/images/kind-3.jpg" alt="">
           </div>
           <div class="content">
              <div class="title">
                BACARDI
              </div>
              <div class="sub-title">
                 Monster
              </div>
              <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
              </p>
    
           </div>
        </div>
     </div>
</section>
<app-footer></app-footer>

<!-- <section class="course">
    <h1>Course we offer</h1>
    <p class="para">Nibh dui ante nibh platea enim dictumst auctor lobortis non.
    </p>
    <div class="row">
        <div class="inter">
            <h3>Intemediate</h3>
            <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus. Rutrum fringilla, laoreet magna congue. Odio venenatis, porttitor sollicitudin condimentum! Varius ac turpis nostra.</p>
        </div>

        <div class="inter">
            <h3>Degree</h3>
            <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus. Rutrum fringilla, laoreet magna congue. Odio venenatis, porttitor sollicitudin condimentum! Varius ac turpis nostra.</p>
        </div>
        <div class="inter">
            <h3>Post-Graduation</h3>
            <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus. Rutrum fringilla, laoreet magna congue. Odio venenatis, porttitor sollicitudin condimentum! Varius ac turpis nostra.</p>
        </div>
    </div>
</section>
<section class="cumpus">
    <h1>Our Global Cumpus</h1>
    <p>Facilisi curae; semper nascetur blandit vitae faucibus sodales;nascetur varius? Penatibus arcu velit lectus mi feugiat imperdiet magna eros. </p>
<div class="ro">
    <div class="colum">
        <img src="london.png">
        <div class="layer">
            <h3>LONDON</h3>
        </div>
    </div>
    <div class="colum">
        <img src="newyork.png">
        <div class="layer">
            <h3>NEW-YORK</h3>
        </div>
    </div>
    <div class="colum">
        <img src="washington.png">
        <div class="layer">
            <h3>WASHINGTON</h3>
        </div>
    </div>
</div>
</section>
<section class="facilities">
    <h1>Our facilities</h1>
    <p>Facilisi curae; semper nascetur blandit vitae faucibus sodales;<br> nascetur varius? Penatibus arcu velit lectus mi feugiat imperdiet magna eros. </p>
    <div class="roh">
        <div class="col">
            <img src="library.png">
            <h3>World Class Library</h3>
            <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus.</p>
        </div>
        <div class="col">
            <img src="basketball.png">
            <h3>World Largest Playground</h3>
            <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus.</p>
        </div>
        <div class="col">
            <img src="cafeteria.png">
            <h3>Tasty and Healthy Food</h3>
            <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus.</p>
        </div>
    </div>
</section>
<section class="testimonials">
    <h1>What Our Students Say</h1>
    <p>Nibh dui ante nibh platea enim dictumst auctor lobortis non.</p>
    <div class="rou">
        <div class="colu">
            <img src="user1.jpg">
            <div>
                <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus.</p>
                <h3>Becky</h3>
                
            </div>
        </div>
        <div class="colu">
            <img src="user2.jpg">
            <div>
                <p>Ornare rutrum natoque ligula, arcu porttitor rhoncus. Tortor id hendrerit consectetur natoque eleifend per fermentum vel venenatis lectus interdum. Tristique malesuada gravida enim sapien nec cubilia magnis ut nunc lobortis lacus.</p>
                <h3>Sanny</h3>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <h1>Enrol To our various Online Courses<br> Anywhere From The World.</h1>
    <a href="" class="btn">Contact Us</a>
</section>

<section class="footer">
    <h4>About Us</h4>
    <p>Facilisi curae; semper nascetur blandit vitae faucibus sodales;nascetur varius? Penatibus arcu velit lectus mi feugiat imperdiet magna eros. </p>
</section>
<section class="sanny">
    <h5>Made by <i class="san">Sanny</i></h5>
</section> -->
</body>
