<body>
  <section class="ctm">
    <app-navbar></app-navbar>
    
    <div class="text-box">
      <h1 class="mb-4">
        <i>Good <span>Drinks</span> For Good <span>Moments</span></i>
      </h1>
      <h2>Our Products..</h2>
    </div>
  </section>
  <div class="flex text-gray-900 ems-center space-x-4">
    <input   [(ngModel)]="filter"
      type="text"
       placeholder="Search..."
       class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
     />
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
      Search
    </button>
  </div>
  <section class="customer-products">
    <section *ngIf="productList.length > 0" class="product-cards">
      <div *ngFor="let product of productList | searchFilter: filter" class="product-card">
        <div class="img">
            <img [src]="product.image" alt="Product Image">    
          
        </div>
        <div class="content">
          <div class="title">{{ product.product_name }}</div>
          <div class="sub-title">Price: ${{ product.price }}</div>
          <p>{{ product.description }}</p>
          <button class="add-cart"(click)="addToCart(product)">Add to cart</button>          
        </div>
      </div>
    </section>
  
  </section>
  <section class="my-cart">
    
    <div *ngFor="let product of cart" class="cart-item">
      <div class="img">
        <img [src]="product.image" alt="Product Image">
      </div>
      <div class="content">
        <div class="title">{{ product.product_name }}</div>
        <div class="sub-title">Price: ${{ product.price }}</div>
        <p>{{ product.description }}</p>
        <button class="remove-cart"  (click)="removeFromCart(product)">Remove</button>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</body>
