<body>
  <section class="adm">
    <app-navbar></app-navbar>

    <div class="text-box">
      <h1 class="mb-4">
        <i>Good <span>Drinks</span> For Good <span>Moments</span></i>
      </h1>

      <!-- <button>
          <label for="togglePopup" id="togglePopup"  class="createProductBtn">Create Product</label>
        </button> -->
      <button class="createProductBtn" type="button" (click)="clicked()">
        Create product
      </button>
    </div>
  </section>
  <div class="flex text-gray-900 ems-center space-x-4">
    <input   [(ngModel)]="filter"
      type="text"
       placeholder="Search..."
       class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
     />
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
      Search
    </button>
  </div>
  <section *ngIf="productList.length > 0" class="product-cards">
    <div *ngFor="let product of productList | searchFilter: filter " class="product-card">
      <div class="img">
        <img [src]="product.image" alt="Product Image" />
      </div>
      <div class="content">
        <div class="title">{{ product.product_name }}</div>
        <div class="sub-title">Price: ${{ product.price }}</div>
        <p>{{ product.description }}</p>
        <div class="actions">
          <button class="btn-d" (click)="deleteProduct(product.product_id)">Delete</button>
          <button type="button" (click)="hiden=!hiden" (click)="updateProduct(product.product_id)" class="btn-u">Update</button>
        </div>
 
      </div>
    </div>
  </section>

  <input type="checkbox" />
  <div class="crud-popup" *ngIf="!hide">
    <div class="crud-container">
      <label for="togglePopup" (click)="hide = !hide" class="close"
        >&times;</label
      >
      <form
        [formGroup]="productForm"
        (ngSubmit)="createProduct()"
        id="productForm"
      >
        <label for="productName">Product Name:</label>
        <input
          type="text"
          formControlName="product_name"
          name="productName"
          placeholder="Product Name"
          required
        />

        <label for="productDescription">Product Description:</label>
        <textarea
          formControlName="description"
          name="productDescription"
          placeholder="Product Description"
          rows="4"
          required
        ></textarea>

        <label for="productPrice">Product Price:</label>
        <input
          type="number"
          formControlName="price"
          name="productPrice"
          placeholder="Product price"
          required
        />

        <label for="productImage">Product Image:</label>
        <input
          type="text"
          formControlName="image"
          name="productImage"
          placeholder="Product Image"
          required
        />

        <button type="submit" class="sub">Save Product</button>
      </form>
    </div>
  </div>

  <div class="crud-popup" *ngIf="!hiden" >
    <div class="crud-container">
      <label for="togglePopup" (click)="hiden = !hiden" class="close"
        >&times;</label
      >
      <form
        [formGroup]="productForm"
        (ngSubmit)="createProduct()"
        id="productForm"
      >
        <label for="productName">Product Name:</label>
        <input
          type="text"
          formControlName="product_name"
          name="productName"
          placeholder="Product Name"
          required
        />

        <label for="productDescription">Product Description:</label>
        <textarea
          formControlName="description"
          name="productDescription"
          placeholder="Product Description"
          rows="4"
          required
        ></textarea>

        <label for="productPrice">Product Price:</label>
        <input
          type="number"
          formControlName="price"
          name="productPrice"
          placeholder="Product price"
          required
        />

        <label for="productImage">Product Image:</label>
        <input
          type="text"
          formControlName="image"
          name="productImage"
          placeholder="Product Image"
          required
        />

        <button type="submit" class="sub">Update Product</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</body>
